language: node_js
service:
  - postgresql
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
node_js:
  - "stable"
notifications:
  email: false
after_success: 
  - npm run coverage

