/*
 * accounts.css 
 * 
 * Banka - Andela Developer Challenge ©️ 2019
 * Andela Developer Challenge ©️ 2019
 * https://allebd.github.io/banka/UI/
 *
 * CSS Designed by Bella Oyedele.
 */

:root {
    --background: #f4f4f4;
    --white: #ffffff;
    --black: #000000;
    --primary-purple: #640d5e;
    --accent-yellow: #e89419;
    --danger-red: #b00020;
    --success-green: #5fba7d;
}

/*border box allows us to add padding and border to our elements without increasing their size */
*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

.container{
    display: grid;
    font: 15px/1.5 Arial, Helvetica, sans-serif;   
    grid-template-rows: 80vh auto 10em;
    grid-template-areas: "banner"
                    "features"
                    "footer";
}

.container.title-bar{ 
    grid-template-rows: 5em 70vh 10em;
}

/* Global */
a{
    text-decoration: none;
    color: var(--white);
}

ul li{
    list-style: none;
}

.button_primary, .button_secondary{
    height: 35px;
    background: var(--accent-yellow);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--white);
}

.button_secondary{
    background: var(--primary-purple);
}

/**** Home ****/
/* Banner */
.banner{
    grid-area: banner;
    background: url('../img/raspberry.jpg') no-repeat 0 -400px;
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5em auto;
    grid-template-areas: "header header"
                    "banner-text banner-image";
    color: var(--white);
    padding: 0 4em;
}

#banner-text{
    grid-area: banner-text;
    align-self: center;
}

#banner-text h1{
    font-size: 4em;
    font-weight: 100;
    margin: 0;
}

#banner-image{
    grid-area: banner-image;
    justify-self: center;
    align-self: center;
}

/* Header */
header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "branding nav";
}

/* Brand Logo */
.branding{
    grid-area: branding;
}

/* Navigation */
nav{
    grid-area: nav;
    justify-self: end;
    align-self: center;
}

nav ul li {
    display: inline;
    line-height: 35px;
}

nav ul li a{
    color: var(--white);
    padding: 0.7em;
}

/* Footer */
footer{
    grid-area: footer;
    align-self: center;
    padding: 10px;
    margin-top: 5em;
    color: var(--white);
    background-color: var(--primary-purple);
    text-align: center;
}

footer a{
    color: var(--accent-yellow);
}

/* Accounts */
#accounts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;
    padding: 5em;
}

.box-table #accounts{
    grid-area: accounts;
}

.account-card{
    background: rgb(232, 148, 25, 0.7);
    padding:15px;
    height: 200px;
}

.account-card.dashboard-card{
    height: 100px;
}

.account-card h5{
    margin: 0;
}

.account-card p{
    margin: 0;
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: 100;    
    color: var(--white);
}

.account-card.dashboard-card p{
    font-size: 2.5em;
}

.account-card .add-account{
    height: 100%;
    justify-items: center;
    text-align: center;
    color: var(--black);
}

.account-card .add-account img{
    margin-top: 1.5em;
}

/* Media Queries */
@media(max-width: 1024px){
    .container{
        grid-template-rows: 50% auto 10em;
    }
    
    .container.title-bar{ 
        grid-template-rows: 13em 70vh 10em;
    }
    
    .container.title-bar.grid-box{ 
        grid-template-rows: 13em auto 10em;
    }   

    header{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "branding"
                        "nav";
        justify-items: center;
    }
    
    nav{
        justify-self: center;
    }

    .banner{
        grid-template-areas: "header header"
                        "banner-text banner-text";
    }

    #banner-text h1{
        font-size: 3em;
        font-weight: 100;
        margin: 0;
    }

    #banner-image{
        display: none;
    }  

    #accounts{
        grid-template-columns: 1fr;
    }
}