:root {
    --primary-purple: #640d5e;
    --accent-yellow: #e89419;
    --white: #ffffff;
    --background: #f4f4f4;
}

/*border box allows us to add padding and border to our elements without increasing their size */
*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

.container{
    display: grid;
    font: 15px/1.5 Arial, Helvetica, sans-serif;   
    grid-template-rows: 80vh auto 10em;
    grid-template-areas: "banner"
                    "features"
                    "footer";
}

/* Global */
a{
    text-decoration: none;
    color: var(--white);
}

ul li{
    list-style: none;
}

.button_primary{
    height: 38px;
    background: var(--accent-yellow);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--white);
}

/**** Home ****/
/* Banner */
.banner{
    grid-area: banner;
    background: url('../img/raspberry.jpg') no-repeat 0 -400px;
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5em auto;
    grid-template-areas: "header header"
                    "banner-text banner-image";
    color: var(--white);
    padding: 0 4em;
}

#banner-text{
    grid-area: banner-text;
    align-self: center;
}

#banner-text h1{
    font-size: 4em;
    font-weight: 100;
    margin: 0;
}

#banner-image{
    grid-area: banner-image;
    justify-self: center;
    align-self: center;
}

/* Header */
header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "branding . nav";
}

/* Brand Logo */
.branding{
    grid-area: branding;
}

/* Navigation */
nav{
    grid-area: nav;
    justify-self: end;
    align-self: center;
}

nav ul li {
    display: inline;
}

nav ul li a{
    color: var(--white);
    padding: 0.7em;
}

/* Features */
#features{
    grid-area: features;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
}

.feature-title{
    grid-column: 1/4;
    width: 45%;
    margin: 2em;   
}

.feature-title h1, #form-box form h1{
    font-size: 2em;
    font-weight: 100;
}

.feature{
    width:50%;
}

.feature1{
    justify-self: end;
}

.feature3{
    justify-self: start;
}

/* Footer */
footer{
    grid-area: footer;
    align-self: center;
    padding: 10px;
    margin-top: 5em;
    color: var(--white);
    background-color: var(--primary-purple);
    text-align: center;
}

footer a{
    color: var(--accent-yellow);
}

/**** Form-box ****/
.container.title-bar{ 
    grid-template-rows: 5em 70vh 10em;
}

#form-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". form-box .";
    grid-gap: 3em;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#form-box form{
    grid-area: form-box;
    justify-self: center;
}

#form-box input, #form-box button{    
    width: 80%;
    padding: 10px;
    margin-top: 1em;
}

#form-box form a{
    color: var(--primary-purple);
}

/* Media Queries */
@media(max-width: 1024px){
    .container{
        grid-template-rows: 100vh auto 10em;
    }

    header{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "branding"
                        "nav";
        justify-items: center;
    }
    
    nav{
        justify-self: center;
    }

    .banner{
        grid-template-areas: "header header"
                        "banner-text banner-text";
    }

    #banner-text h1{
        font-size: 3em;
        font-weight: 100;
        margin: 0;
    }

    #banner-image{
        display: none;
    }    

    .container.title-bar{ 
        grid-template-rows: 10em 70vh 10em;
    }    
    
    #form-box{
        grid-template-columns: 1fr;
        grid-template-areas: "form-box";
    }
}

@media(max-width: 900px){
    #features{
        grid-template-columns: 1fr;
    }

    .feature-title{
        grid-column: 1/1;
    }

    .feature{
        width:50%;
    }
    
    .feature1{
        justify-self: center;
    }
    
    .feature3{
        justify-self: center;
    }
}